@import "normalize.css";
@import "tables.css";
@import "menu.css";
@import "toc.css";
@import "images.css";

/* google web fonts */
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/css?family=Pompiere);


/* text */
body {
  /* use px rather than em so I know what image size to use */
  width:600px;
  /* max-width: 35em; */
  font-size: 12pt;
  line-height: 18pt;
  font-family: 'Gentium Basic', serif;
  background-color: #fdf6e3;
  color: #657b83;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  border-bottom-color: #6c71c4;
  color: #6c71c4;
}

p {
  margin: 0.75em 0 0.75em 0;
}

ol > li { 
  list-style-type: decimal; 
  list-style-position: inside;
  padding-left: 0em; 
}

/* pre boxes */
pre {
  padding: 1.0em;
  margin: 1.5ex 0 1.5ex 0;
  font-family: 'Inconsolata', monospace;
}

code {
  font-family: 'Inconsolata', monospace;
}

pre.example {
  border-left: 4px solid #859900;
  background: #eee8d5;
}

pre.src {
  border-left: 4px solid #657b83;
}


/* headings */
h1, h2, h3, h4, h5 {
  font-family: 'Patua One', sans-serif;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
  margin: 2.5ex 0 0.5ex -1em;
  color: #859900;
  font-weight: bold;
}

h4 {
  color: #d33682;
  font-weight: bold;
}

*.title {
  font-size: 300%;
  line-height: 105%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #b58900;
  font-family: 'Pompiere';
}


/* postamble */
div#postamble {
  margin: 20pt 0 20pt 0;
  font-size: 8pt;
  text-align: right;
  line-height: 120%;
  font-family: sans-serif;
}

div#postamble-extra {
  font-size: 8pt;
}

p.validation {
  padding: 10pt 0 0 0;
}

#postamble p {
  margin: 0;
}
