pre.src{
  background: #002b36;
  color:      #839496;
  line-height: 120%;
}

.org-preprocessor      { color: #268bd2; }
.org-variable-name     { color: #268bd2; }
.org-string            { color: #2aa198; }
.org-comment           { color: #586e75; }
.org-doc               { color: #2aa198; }
.org-comment-delimiter { color: #586e75; }
.org-builtin           { color: #268bd2; }
.org-type              { color: #b58900; font-weight: bold; }
.org-function-name     { color: #268bd2; font-weight: bold; }
.org-keyword           { color: #859900; font-weight: bold; }
.org-constant          { color: #268bd2; }
.org-builtin           { color: #268bd2; }
.org-sh-quoted-exec    { color: #d33682; }
.org-warning           { color: #b58900; font-weight: bold; } 
.org-regexp-grouping-backslash {         font-weight: bold; } 
.org-regexp-grouping-construct {         font-weight: bold; } 

.org-bold        { font-weight: bold; }
.org-bold-italic { font-weight: bold; font-style: italic; }
.org-italic      { font-style: italic; }
.org-underline   { text-decoration: underline; }
