<!DOCTYPE html>
<html lang="en-US">

<head>
<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="{{ page.title }}"/>
<meta name="author" content="Michael McCourt"/>

<link rel="stylesheet" type="text/css"
      href="/css/screen2.css"
      media="screen"/>
<link rel="stylesheet" type="text/css"
      href="/css/print.css"
      media="print"/>
<link rel="stylesheet" type="text/css"
      href="/css/syntax.css"/>

</head>
<body>

<main id="content">

<nav class="menu">
  <div class="section">My Pages:</div>
  <ul class="keep-mobile">
    <li><a href="../"         > Home                </a></li>
    <li><a href="../contact"  > Contact             </a></li>

    <li class="only-desktop"><a href="../patents" > ML &amp; AI Patents </a></li>
    <li class="only-mobile" ><a href="../patents "> Patents             </a></li>
    <li class="only-desktop"><a href="../research"> Astro Research      </a></li>
    <li class="only-mobile" ><a href="../research"> Research            </a></li>
    <!--  -->
    <li class="sub hide-mobile"><a href="../research/talks"  > Talks           </a></li>
    <li class="sub hide-mobile"><a href="../posters"         > Posters         </a></li>
    <!--  -->
    <li><a href="../figure-gallery" > Figure Gallery </a></li>
    <li class="only-desktop"><a href="../biblio"         > Publications   </a></li>
    <li class="only-mobile" ><a href="../biblio"         > Pubs           </a></li>
    <li class="only-desktop"><a href="../cv"             > CV/Resume      </a></li>
    <li class="only-mobile" ><a href="../cv"             > CV             </a></li>
    <li><a href="../software"       > Software       </a></li>
  </ul>
  <div class="section">Sturdy Stats:</div>
  <ul>
    <li><a href="https://sturdystatistics.com"                   > Home         </a></li>
    <li><a href="https://sturdystatistics.com/features.html"     > Features     </a></li>
    <li><a href="https://sturdystatistics.com/case-studies.html" > Case Studies </a></li>
  </ul>
  <!-- <div class="section">UCSB:</div> -->
  <!-- <ul> -->
  <!--   <li><a href="http://physics.ucsb.edu/"                 > Physics   </a></li> -->
  <!--   <li><a href="http://web.physics.ucsb.edu/~astrogroup/" > Astronomy </a></li> -->
  <!-- </ul> -->
  <!-- <div class="section">Harvard ITC:</div> -->
  <!-- <ul> -->
  <!--   <li><a href="http://cfa.harvard.edu/"    > CfA </a></li> -->
  <!--   <li><a href="http://cfa.harvard.edu/itc" > ITC </a></li> -->
  <!-- </ul> -->
  <!-- <div class="section">Berkeley:</div> -->
  <!-- <ul> -->
  <!--   <li><a href="http://astro.berkeley.edu/"        > Astronomy </a></li> -->
  <!--   <li><a href="http://astro.berkeley.edu/~eliot/" > Eliot     </a></li> -->
  <!--   <li><a href="http://astro.berkeley.edu/tac/"    > TAC       </a></li> -->
  <!-- </ul> -->
</nav> <!-- end menu -->

<article>
  <h1 class="title">{{ page.title }}</h1>

  {{ content }}
</article>

</main> <!-- end content -->


<footer id="postamble">
  <p class="author">&copy; 2025 Michael McCourt</p>
  <p class="date">last modified: {{ page.Time-stamp }}</p>
</footer>

</body>
</html>
